{% extends 'base.html' %}

{% block score %}
    <style>
        #score{
            position: relative;
            margin-left: 40px;
            bottom: 20px;
        }
        #score_art{
            z-index: 1;
            position: absolute;
            opacity: 0.3;
            left: 200;
        }
        canvas{
            z-index: 2;
            position: relative;
        }
        #playbtn:hover, #loopbtn:hover, #volumebtn:hover, #scrollbtn:hover{
            background-color: rgb(41, 41, 41);
            cursor: pointer;
        }
        #seekbox{
            z-index: 9991;
            position: fixed;
            width: 100%;
            height: 5px;
            background-color: white;
            bottom: 55;
        }
        #seekbar{
            z-index: 9993;
            width: 0px;
            height: 5px;
            background-color: rgb(102, 0, 0);
        }
        #seekbox:hover{
            cursor: pointer;
        }
    </style>

    <div id=seekbox>
        <div id=seekbar></div>
    </div>
    <footer class="footer">
        <div class="fcontainer">
            {% load static %}
            <div class="passive">
                <img id="pause" src="{% static 'img/pause.png' %}"></img>
                <img id="play" src="{% static 'img/play.png' %}"></img>
                <img id="volume" src="{% static 'img/volume.png' %}"></img>
                <img id="mute" src="{% static 'img/mute.png' %}"></img>
                <img id="8bu" src="{% static 'img/8bu.png' %}"></img>
            </div>
            <img src="{{ albam.art.url }}" style="width: 45px; height: 45px; margin-left: 5px;"/>
            <p>{{ score.song_name }}</p>
            <img src="{% static 'img/pause.png' %}" onclick="clickPlay()" style="width: 40px; height: 40px;" alt="pause" id="playbtn">
            <img src="{% static 'img/loop.png' %}" onclick="clickLoop()" style="width: 40px; height: 40px;" alt="loop" id="loopbtn">
            <img src="{% static 'img/volume.png' %}" onclick="clickVolume()" style="width: 40px; height: 40px;" alt="volume" id="volumebtn">
            <input type="range" value="0.5" id="sampleVolume" min="0" max="1" step="0.02" >
            <img src="{% static 'img/autoscroll.png' %}" onclick="clickScroll()" style="width: 40px; height: 40px; background-color: rgb(20, 20, 20);" alt="scroll" id="scrollbtn">
        </div>
    </footer>
    <div class="score_detail">

        <audio id=audio>
            <source src="{{ score.musicfile.url }}">
        </audio>

        <div id="score">
            <img id="score_art" src="{{ score.score_art.url }}" style="width: 1200px; height: 850px;"/>
            <canvas id="myCanvas" width="1400" height="850"></canvas>
        </div>

        {{ note|json_script:"note" }}
        {{ maxdt|json_script:"maxdt" }}
        {{ tempo|json_script:"tempo" }}
        {{ mid_h_track|json_script:"mid_h_track" }}
        
        <script>
            var tempo = JSON.parse(document.getElementById('tempo').textContent);
            var note = JSON.parse(document.getElementById('note').textContent);
            var maxdt = JSON.parse(document.getElementById('maxdt').textContent);
            var mid_h_track = JSON.parse(document.getElementById('mid_h_track').textContent);


            //maxdtTime = (tempo[0][1]/480)*(maxdt/1000);

            var music = document.getElementById("audio");
            music.volume = 0.5;

            let maxms = 1000*music.duration;　//仮定義
            // メタデータ読み込み完了時に実行されるイベント
            music.addEventListener("loadedmetadata",function (e){
                // 再生総時間を取得する
                maxms = 1000*music.duration;
            });

            var seekbarflg = false;
            document.getElementById("seekbox").addEventListener("mousedown", ()=>{
                seekbarflg = true;
            });

            document.addEventListener("mousemove", (e)=>{
                if(seekbarflg){
                    document.getElementById("seekbar").style.width = e.offsetX;
                }
            });

            document.addEventListener('mouseup', () => {
                if(seekbarflg){
                    music.currentTime = music.duration*document.getElementById("seekbar").clientWidth/document.getElementById("seekbox").clientWidth;
                    seekbarflg = false;
                    a = 660*Math.floor(1000*time/(tempo[0][1]*48));
                }
            });
            
            var canvas = document.getElementById("myCanvas");
            var ctx = canvas.getContext("2d");

            //写真マーク分の四角
            function drawBox(a){
                ctx.beginPath();
                ctx.rect(200, 0-a, 50, 50);
                ctx.fillStyle = "rgba(225, 225, 225, 1)";
                ctx.fill();
                ctx.closePath();
            }

            let shei = 8.5;
            function drawScore(a){
                let wid = 250;
                let hei = shei*14;
                let b = 0;
                for(let i=0;i<maxdt/1920;i++){
                    if(i%4==0){
                        wid = 250+125;
                    }
                    let y = Math.floor(i/4)*(hei+shei*8)+shei*8;
                    ctx.beginPath();
                    ctx.rect(240+b, y-a, wid, hei);
                    for(let j=0;j<4;j++){
                        ctx.moveTo(240+b, y-a+shei*(j+1));
                        ctx.lineTo(240+b+wid, y-a+shei*(j+1));
                    }
                    for(let j=0;j<4;j++){
                        ctx.moveTo(240+b, y-a+shei*(j+1+9));
                        ctx.lineTo(240+b+wid, y-a+shei*(j+1+9));
                    }
                    ctx.strokeStyle = "rgba(225, 225, 225, 1)";
                    ctx.stroke();
                    ctx.closePath();
                    b += wid;
                    if(i%4==0){
                        wid = 250;
                    }else if(i%4==3){
                        b=0;
                    }
                }
            }

            
            const hachibu = new Image();
            hachibu.src = document.getElementById("8bu").src;
            //note[track][note][0]デルタタイム, [1]音高, [2]ベロシティ
            //============================================================
            //計画:小節跨ぎ音符
            //============================================================
            function drawNote(track, time, a){
                let harm1 = 0; //和音数
                let harm1top = 0; //和音の最高音
                let harm1topct = 0; //和音の最高音までのカウント
                let harm2 = 0;
                let harm2top = 0;
                let harm2topct = 0;
                let b = 0;
                let c = 0;
                let d = 0;
                let x = 0;
                let y = 0;
                let quantize = 0;
                let notelength1 = 0;
                let notelength2 = 0;
                for(let i=0;i<note[track+1].length;i++){
                    b=0;
                    c=0;
                    if(note[track+1][i][1]>=60){ //上パート
                        c += 8*shei/2; //上パートの時座標を上げる
                        harm1top = note[track+1][i][1];
                        //上パートの16分クオンタイズで和音になるやつを探し数える。harm1==0で動作。
                        if(harm1==0){
                            harm1++;
                            harm1topct=0;
                            for(let j=i+1;j<note[track+1].length;j++){
                                if(note[track+1][j][1]>=60){
                                    if(note[track+1][j][0]-note[track+1][i][0]<60){
                                        harm1++;
                                        if(harm1top<note[track+1][j][1]){
                                            harm1top = note[track+1][j][1];
                                            harm1topct = j-i;
                                        }
                                    }else{
                                        if(1920-note[track+1][i][0]%1920<note[track+1][j][0]-note[track+1][i][0]){
                                            notelength1 = 1920-note[track+1][i][0]%1920;
                                        }else{
                                            notelength1 = note[track+1][j][0]-note[track+1][i][0];
                                        }
                                        break;
                                    }
                                }
                            }
                        }
                        //================================================================
                        //楽譜線画
                        //================================================================
                        if(note[track+1][i][1]%12>=5)c += shei/2;
                        b = shei/2*(7*Math.floor(note[track+1][i][1]/12)+Math.floor((note[track+1][i][1]%12)/2)) + c;
                        if(note[track+1][i][0]%120<60){
                            quantize = note[track+1][i][0]-note[track+1][i][0]%120;
                            d = note[track+1][i][0]%120;
                        }else{
                            quantize = note[track+1][i][0]-note[track+1][i][0]%120+120;
                            d = 120 - note[track+1][i][0]%120;
                        }
                        x = 365+(quantize%7680*250/1920)+4;
                        y = 22*shei*Math.floor(quantize/7680)+shei/2*69-b-a;
                        ctx.beginPath();
                        ctx.ellipse(x, y, 0.7*1.3*shei/2, 0.7*shei/2, 5*Math.PI/6, 0, Math.PI*2); //(x, y, 横幅, 縦幅, 回転(rad))
                        if(480-60<=notelength1&&notelength1<480+60){
                            ctx.moveTo(x+4, y);
                            ctx.lineTo(x+4, y-30);
                        }else if(240-60<=notelength1&&notelength1<240+60){
                            ctx.moveTo(x+4, y);
                            ctx.lineTo(x+4, y-30);
                            if(harm1topct==0){
                                ctx.drawImage(hachibu, x+4, y-30, 10, 30);
                            }
                        }
                        ctx.lineWidth = 2.2;
                        if(note[track+1][i][0]<=time*480*1000/tempo[0][1]&&time*480*1000/tempo[0][1]<note[track+1][i][3]){
                            ctx.strokeStyle = "blue";
                            ctx.fillStyle = "blue";
                        }else{
                            ctx.strokeStyle = "white";
                            ctx.fillStyle = "white";
                        }
                        if(harm1>0){
                            harm1--;
                        }
                        harm1topct--;
                    }else{ //下パート
                        harm2top = note[track+1][i][1];
                        //下パートの16分クオンタイズで和音になるやつを探し数える。harm2==0で動作。
                        if(harm2==0){
                            harm2++;
                            harm2topct=0;
                            for(let j=i+1;j<note[track+1].length;j++){
                                if(note[track+1][j][1]<60){
                                    if(note[track+1][j][0]-note[track+1][i][0]<60){
                                        harm2++;
                                        if(harm2top<note[track+1][j][1]){
                                            harm2top = note[track+1][j][1];
                                            harm2topct = j-i;
                                        }
                                    }else{
                                        if(1920-note[track+1][i][0]%1920<note[track+1][j][0]-note[track+1][i][0]){
                                            notelength2 = 1920-note[track+1][i][0]%1920;
                                        }else{
                                            notelength2 = note[track+1][j][0]-note[track+1][i][0];
                                        }
                                        break;
                                    }
                                }
                            }
                        }
                        //================================================================
                        //楽譜線画
                        //================================================================
                        if(note[track+1][i][1]%12>=5)c += shei/2;
                        b = shei/2*(7*Math.floor(note[track+1][i][1]/12)+Math.floor((note[track+1][i][1]%12)/2)) + c;
                        if(note[track+1][i][0]%120<60){
                            quantize = note[track+1][i][0]-note[track+1][i][0]%120;
                            d = note[track+1][i][0]%120;
                        }else{
                            quantize = note[track+1][i][0]-note[track+1][i][0]%120+120;
                            d = 120 - note[track+1][i][0]%120;
                        }
                        x = 365+(quantize%7680*250/1920)+4;
                        y = 22*shei*Math.floor(quantize/7680)+shei/2*69-b-a;
                        ctx.beginPath();
                        ctx.ellipse(x, y, 0.7*1.3*shei/2, 0.7*shei/2, 5*Math.PI/6, 0, Math.PI*2); //(x, y, 横幅, 縦幅, 回転(rad))
                        if(480-60<=notelength2&&notelength2<480+60){
                            ctx.moveTo(x+4, y);
                            ctx.lineTo(x+4, y-30);
                        }else if(240-60<=notelength2&&notelength2<240+60){
                            ctx.moveTo(x+4, y);
                            ctx.lineTo(x+4, y-30);
                            if(harm2topct==0){
                                ctx.drawImage(hachibu, x+4, y-30, 10, 30);
                            }
                        }
                        ctx.lineWidth = 2.2;
                        if(note[track+1][i][0]<=time*480*1000/tempo[0][1]&&time*480*1000/tempo[0][1]<note[track+1][i][3]){
                            ctx.strokeStyle = "blue";
                            ctx.fillStyle = "blue";
                        }else{
                            ctx.strokeStyle = "white";
                            ctx.fillStyle = "white";
                        }
                        if(harm2>0){
                            harm2--;
                        }
                        harm2topct--;
                    }
                    //if(note[track+1][i][1]>=60)c += 8*shei/2; //上下またぐとき
                    ctx.fill();
                    ctx.stroke();
                    ctx.closePath();
                    //ctx.fillText(harm2+","+harm2topct+","+harm1+","+harm2topct, 365+note[track+1][i][0]%7680*250/(480*4), 22*shei*Math.floor(note[track+1][i][0]/7680)+shei+3-a);
                }
            }

            function drawBar(t, a){
                ctx.beginPath();
                ctx.moveTo(365+(t%(16*tempo[0][1]/1000))*(1000*250/4)/tempo[0][1], shei*22*Math.floor(t/(16*tempo[0][1]/1000))+shei*8-a);
                ctx.lineTo(365+(t%(16*tempo[0][1]/1000))*(1000*250/4)/tempo[0][1], shei*22*Math.floor(t/(16*tempo[0][1]/1000))+shei*8-a+shei*14);
                ctx.strokeStyle = "white" ;
                ctx.lineWidth = 1 ;
                ctx.stroke() ;
                ctx.closePath();
            }

            var time = music.currentTime;
            var flag = true; //再生
            var autoscrollflg = true; //再生バー追従 
            var mouseflag = false;
            var mdy = 0;

            canvas.addEventListener('mousedown', e=>{
                if(e.offsetX>200){
                    my = e.offsetY;
                    autoscrollflg = false;
                    document.getElementById("scrollbtn").style = "width: 40px; height: 40px;"
                    mouseflag = true;
                }

                //トラックセレクト
                for(let i=0;i<mid_h_track-1;i++){
                    if(e.offsetX<=200&&e.offsetY>=track_y[i]&&e.offsetY<track_y[i]+50){
                        tracksel = i;
                    }
                }
            });

            canvas.addEventListener('mousemove', e=>{
                if(mouseflag){
                    mdy = e.offsetY - my;
                    my = e.offsetY;
                }
            });

            document.addEventListener('mouseup', e=>{
                mouseflag = false;
                mdy = 0;
            });

            var keyUp = false;
            var keyDown = false;
            var keyRight = false;
            var keyLeft = false;
            document.addEventListener('keydown', e=>{
                if(e.keyCode==38){keyUp=true;}
                if(e.keyCode==40){keyDown=true;}
                if(e.keyCode==39){keyRight=true;}
                if(e.keyCode==37){keyLeft=true;}
            });

            document.addEventListener('keyup', e=>{
                if(e.keyCode==38){keyUp=false;}
                if(e.keyCode==40){keyDown=false;}
                if(e.keyCode==39){keyRight=false;}
                if(e.keyCode==37){keyLeft=false;}
            });

            //トラックプレート
            let track_x = Array(mid_h_track-1);
            let track_y = Array(mid_h_track-1);
            let tracksel = 0;
            let scrollTrack = 0;
            function drawTrack(){
                ctx.beginPath();
                ctx.rect(0, 0, 200, 850);
                ctx.fillStyle = "rgba(225, 225, 225, 1)";
                ctx.fill();
                ctx.closePath();
                for(let i=0;i<mid_h_track-1;i++){
                    ctx.beginPath();
                    track_x[i] = 0;
                    track_y[i] = 50*(i-scrollTrack);
                    ctx.rect(track_x[i], track_y[i], 200, 50);
                    if(tracksel==i){
                        ctx.fillStyle = "rgba(100, 100, 100, 1)";
                    }else{
                        ctx.fillStyle = "rgba(225, 225, 225, 1)";
                    }
                    ctx.fill();
                    ctx.strokeStyle = "rgba(41, 41, 41, 1)";
                    ctx.stroke();
                    ctx.closePath();
                }
            }

            //線画
            let a = 0;
            function draw(){
                if(autoscrollflg&&a<shei*66*Math.floor(1000*time/(tempo[0][1]*48))){
                    //a = 660*Math.floor(1000*time/(tempo[0][1]*48));
                    a += 10;
                }else{
                    if(a>=0&&mdy>=0){
                        a -= mdy;
                    }
                    if(mdy<0){
                        a -= mdy;
                    }
                    mdy = 0;
                    if(keyDown&&!autoscrollflg){
                        a += 10;
                    }
                    if(keyUp&&!autoscrollflg&&a>=0){
                        a -= 10;
                    }
                }
                ctx.clearRect(0, 0, canvas.width, canvas.height); 
                drawScore(a);
                drawNote(tracksel, time, a);
                drawBar(time, a);
                drawTrack();
                time = 1000*music.currentTime;
                if(!seekbarflg){
                    document.getElementById("seekbar").style.width = document.getElementById("seekbox").clientWidth*time/maxms + "px";  //style.widthだと取得できない
                }
            }
            setInterval(draw, 10);
            if(flag){
                music.play();
            }
            //===================================================================================
            //フッター
            //===================================================================================
            function clickPlay(){
                flag = !flag;
                if(flag){
                    music.play();
                    document.getElementById("playbtn").src=document.getElementById("pause").src;
                    document.getElementById("playbtn").style="width: 40px; height: 40px;";  
                }else{
                    music.pause();
                    document.getElementById("playbtn").src=document.getElementById("play").src;
                    document.getElementById("playbtn").style="width: 40px; height: 40px; border-radius: 50%;";   
                }
            }
            music.addEventListener("ended", ()=>{
                if(loopflg){
                    music.currentTime = 0;  // 再生位置を先頭に移動
                    music.play();
                }else{
                    flag = false;
                    document.getElementById("playbtn").src=document.getElementById("play").src;  // 「再生ボタン」に変更
                    document.getElementById("playbtn").style="width: 40px; height: 40px;  border-radius: 50%;";  
                }
            });

            loopflg = false;
            function clickLoop(){
                loopflg = !loopflg;
                if(loopflg){
                    document.getElementById("loopbtn").style="width: 40px; height: 40px; background-color: rgb(20, 20, 20);"; 
                }else{
                    document.getElementById("loopbtn").style="width: 40px; height: 40px;"; 
                }
            }

            muteflg = false;
            function clickVolume(){
                muteflg = !muteflg;
                if(muteflg){
                    document.getElementById("volumebtn").src=document.getElementById("mute").src; 
                    music.volume = 0;
                }else{
                    document.getElementById("volumebtn").src=document.getElementById("volume").src; 
                    music.volume = document.getElementById("sampleVolume").value;
                }
            }

            document.getElementById("sampleVolume").addEventListener("input", ()=>{
                if(!muteflg){
                    music.volume = document.getElementById("sampleVolume").value;
                }
            });

            function clickScroll(){
                autoscrollflg = !autoscrollflg;
                if(autoscrollflg){
                    document.getElementById("scrollbtn").style = "width: 40px; height: 40px; background-color: rgb(20, 20, 20);"
                    a = 660*Math.floor(1000*time/(tempo[0][1]*48));
                }else{
                    document.getElementById("scrollbtn").style = "width: 40px; height: 40px;"
                }
            }

        </script>
    </div>
{% endblock %}