{% load static %}

{% load i18n static %}

<html>
    <head>
        <title>Scorable</title>
        <link rel="stylesheet" href="{% static 'css/mysite.css' %}">
    </head>
    <body>
        <header class="header">
            <div class="container">
                <a href="{% url 'index' %}">Scorable</a>
                {% if user.id %}
                <a href="{% url 'create_score' %}">Create Score</a>
                <a href="{% url 'logout' %}">Logout</a>
                <a href="{% url 'user_detail' pk=user.pk %}" ><img src="{{ user.face.url }}" style="width: 40px; height: 40px;"/></a>
                {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'signup' %}">Signup</a>
                {% endif %}
            </div>
        </header>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
        <div class="score">
            {% block score %}
            {% endblock %}
        </div>
    </body>
</html>
